html {
  font-family: "Open Sans", sans-serif;
  background-image: url("../images/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm00NTItZi0wMTQuanBn.webp");
  color: white;
 
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 25px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 25px 25px 0px 0px;
  
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  box-sizing: border-box;
  border-radius: 25px 25px 0px 0px;
}

div.desc {
  padding: 15px;
  text-align: center;
}


h1, h2 {
  text-align: center;
}
p {
  width: 80%;
  letter-spacing: 1px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px; 
}

a {
  letter-spacing: 1px;
  font-size: 20px;
  color: white;
}


body {
  width: 80%;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  background-image: url("../images/triangles-1430105_1280.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

img.gallary{
  border-radius: 25px 25px 0px 0px;
}

img.intro{
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

